{% extends "base.html" %}

{% block content %}
<div class="splash">
    <div class="pure-g-r">
        <div class="pure-u-1">
            <div class="l-box splash-text">
                <h1 class="splash-head">
                    SSDriving é uma Plataforma de Gestão Logistica
                </h1>
                <h2 class="splash-subhead">
                    O SSDriving visa simplificar sua forma de agendamento de entregas ou retiradas de Lote na sua empresa.
                </h2>
                <p>
                    <a href="#" class="pure-button primary-button">Saiba mais</a>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="pure-g-r content-ribbon">
        <div class="pure-u-2-3">
            <div class="l-box">
                <h4 class="content-subhead">Agendamento de retiradas de lotes/produtos!</h4>
                <h3>Como funciona?</h3>
                <p>
                    Com o SSDriving sua empresa pode solicitar retiradas de lotes de produtos, tendo contato por meio de
                    bots inteligentes para que não tenha a necessidade de fazer os agendamentos e cotações manualmente. Com isso
                    sua empresa terá além processo logístico mais ágil e transparete...
                </p>
            </div>
        </div>
        <div class="pure-u-1-3">
            <div class="l-box">
                <img src="http://placehold.it/400x250"
                     alt="Agendamento de Retiradas.">
            </div>
        </div>
    </div>
    <div class="pure-g-r content-ribbon">
        <div class="pure-u-1-3">
            <div class="l-box">
                <img src="http://placehold.it/400x250"
                     alt="Agendamento de Entrregas.">
            </div>
        </div>
        <div class="pure-u-2-3">
            <div class="l-box">
                <h4 class="content-subhead">Agendamento de entrega de produtos!</h4>
                <h3>Como funciona?</h3>
                <p>
                    Com o SSDrive sua empresa ganha mais agilidade nas entregas de pedidos, evitando acumulo de caminões
                    nos patios e podendo controlar a data de entregas de materias, para controle de estoque just in time.
                    Sendo possível ter todos os históricos de entregas, para trabalhar sempre com a transportadora mais
                    confiável para sua empresa...
                </p>
            </div>
        </div>
    </div>
    <div class="pure-g-r content-ribbon">
        <div class="pure-u-2-3">
            <div class="l-box">
                <h4 class="content-subhead">Segmentos de Atuação!</h4>
                <h3>Quais são os principáis segmentos que o SSDrive atende?</h3>
                <p>
                    Uma plataforma focada em empresas de diversos segemntos do mercado, como indústrias, distribuidorass,
                    varejistas, auxiliando na gestão logística da empresa. Uma plataforma de comunicação inteligente
                    que automatiza diversos processos desde a contratação de transportadoras até a entrega de pedidos...
                </p>
            </div>
        </div>
        <div class="pure-u-1-3">
            <div class="l-box">
                <img src="http://placehold.it/400x250"
                     alt="Segmentos de atuação">
            </div>
        </div>
    </div>
    <div class="pure-g-r content-ribbon">
        <div class="pure-u-1-3">
            <div class="l-box">
                <img src="http://placehold.it/400x250"
                     alt="Contratação">
            </div>
        </div>
        <div class="pure-u-2-3">
            <div class="l-box">
                <h4 class="content-subhead">Contratação</h4>
                <h3>Como contratar nossos servições?</h3>
                <p>
                    Nossa plataforma é intuitiva e pode ser adquirida com uma de nossos especialistas, fale com nosso bot
                    a Catarina que ela vai ajudar você...
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
